* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin-left: 2rem;
}

h1 {
  font-size: 3.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
}

.left-container,
.right-container {
  padding-right: 3rem;
  margin-top: 1rem;
}

.score-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.score-header h3 {
  margin-right: 2rem;
  font-size: 2rem;
}

.score-header button {
  border: 1px solid black;
  box-shadow: 2px 5px black;
  padding: 0.3rem;
  font-size: 1.2rem;
}

#scores {
  border: 1px solid black;
  box-shadow: 2px 4px black;
}

ul li {
  list-style: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
}

.form {
  margin-top: 1rem;
}

.form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.right-container h3 {
  font-size: 2rem;
}

.right-container button {
  font-size: 1.2rem;
  border: 1px solid black;
  box-shadow: 2px 4px black;
  float: right;
}

li:nth-child(odd) {
  background-color: rgb(215, 223, 230);
}
